<a href="https://colab.research.google.com/github/NikuDubenco/DS-Unit-2-Classification-1/blob/master/Nicolae_Dubenco_random_forests_ordinal_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import libraries

In [137]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.6/dist-packages (2.0.0)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.9.0)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.3.0)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.21.2)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.24.2)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.16.4)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.13.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.5.3)

In [0]:
%matplotlib inline
import category_encoders as ce
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
from sklearn.tree import DecisionTreeClassifier
pd.set_option('display.float_format', '{:.2f}'.format)

## Import and read CSV files

In [0]:
# Merge train_feartures.csv & train_labels.csv
train = pd.merge(pd.read_csv('https://drive.google.com/uc?export=download&id=14ULvX0uOgftTB2s97uS8lIx1nHGQIB0P'),
                pd.read_csv('https://drive.google.com/uc?export=download&id=1r441wLr7gKGHGLyPpKauvCuUOU556S2f'))

# Read test_features.csv & sample_admission.csv
test = pd.read_csv('https://drive.google.com/uc?export=download&id=1wvsYl9hbRbZuIuoaLWCsW_kbcxCdocHz')
sample_submission = pd.read_csv('https://drive.google.com/uc?export=download&id=1kfJewnmhowpUo381oSn3XqsQ6Eto23XV')

# Split train into train & val
train, val = train_test_split(train, train_size=.80, test_size=.20, 
                             stratify=train['status_group'], random_state=42)

In [40]:
# Identify the dimension of the 'train' data set
train.shape

(47520, 40)

## Exploring categorical features

In [0]:
# function that will give a vision on what columns double data:
def identify_double_columns_data(X):
  """Identify the columns that contain the same data in the data set,
  type of data categorical"""
  for column in X.select_dtypes(exclude='number').columns:
    if X[column].nunique() <= 30:
      print('--------' * 10)
      print('feature displayed: >>>', column, ' <<<')
      print('                      ', len(column) * '-')
      print('value     &    times present in column')
      print(X[column].value_counts())

In [42]:
identify_double_columns_data(train)

--------------------------------------------------------------------------------
feature displayed: >>> basin  <<<
                       -----
value     &    times present in column
Lake Victoria              8137
Pangani                    7173
Rufiji                     6412
Internal                   6255
Lake Tanganyika            5194
Wami / Ruvu                4773
Lake Nyasa                 4075
Ruvuma / Southern Coast    3551
Lake Rukwa                 1950
Name: basin, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> region  <<<
                       ------
value     &    times present in column
Iringa           4250
Shinyanga        3972
Mbeya            3703
Kilimanjaro      3512
Morogoro         3238
Arusha           2686
Kagera           2615
Mwanza           2485
Kigoma           2276
Pwani            2110
Ruvuma           2090
Tanga            2029
Dodoma           1768
Singida          1678
Tabora           1586
Mara             1560
Rukwa            1440
Mtwara           1384
Manyara          1284
Lindi            1223
Dar es Salaam     631
Name: region, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> public_meeting  <<<
                       --------------
value     &    times present in column
True     40838
False     4038
Name: public_meeting, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> recorded_by  <<<
                       -----------
value     &    times present in column
GeoData Consultants Ltd    47520
Name: recorded_by, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> scheme_management  <<<
                       -----------------
value     &    times present in column
VWC                 29470
WUG                  4164
Water authority      2507
WUA                  2334
Water Board          2197
Parastatal           1320
Private operator      836
Company               824
Other                 603
SWC                    78
Trust                  58
None                    1
Name: scheme_management, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> permit  <<<
                       ------
value     &    times present in column
True     31071
False    14006
Name: permit, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> extraction_type  <<<
                       ---------------
value     &    times present in column
gravity                      21448
nira/tanira                   6526
other                         5193
submersible                   3770
swn 80                        2930
mono                          2261
india mark ii                 1928
afridev                       1435
ksb                           1124
other - rope pump              353
other - swn 81                 184
windmill                        93
india mark iii                  73
cemo                            70
other - play pump               65
walimi                          42
climax                          24
other - mkulima/shinyanga        1
Name: extraction_type, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> extraction_type_group  <<<
                       ---------------------
value     &    times present in column
gravity            21448
nira/tanira         6526
other               5193
submersible         4894
swn 80              2930
mono                2261
india mark ii       1928
afridev             1435
rope pump            353
other handpump       292
other motorpump       94
wind-powered          93
india mark iii        73
Name: extraction_type_group, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> extraction_type_class  <<<
                       ---------------------
value     &    times present in column
gravity         21448
handpump        13184
other            5193
submersible      4894
motorpump        2355
rope pump         353
wind-powered       93
Name: extraction_type_class, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> management  <<<
                       ----------
value     &    times present in column
vwc                 32449
wug                  5189
water board          2343
wua                  2046
private operator     1566
parastatal           1397
water authority       731
other                 669
company               534
unknown               453
other - school         80
trust                  63
Name: management, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> management_group  <<<
                       ----------------
value     &    times present in column
user-group    42027
commercial     2894
parastatal     1397
other           749
unknown         453
Name: management_group, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> payment  <<<
                       -------
value     &    times present in column
never pay                20287
pay per bucket            7161
pay monthly               6644
unknown                   6532
pay when scheme fails     3093
pay annually              2938
other                      865
Name: payment, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> payment_type  <<<
                       ------------
value     &    times present in column
never pay     20287
per bucket     7161
monthly        6644
unknown        6532
on failure     3093
annually       2938
other           865
Name: payment_type, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> water_quality  <<<
                       -------------
value     &    times present in column
soft                  40598
salty                  3903
unknown                1503
milky                   658
coloured                403
salty abandoned         276
fluoride                165
fluoride abandoned       14
Name: water_quality, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> quality_group  <<<
                       -------------
value     &    times present in column
good        40598
salty        4179
unknown      1503
milky         658
colored       403
fluoride      179
Name: quality_group, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> quantity  <<<
                       --------
value     &    times present in column
enough          26567
insufficient    12153
dry              4921
seasonal         3244
unknown           635
Name: quantity, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> quantity_group  <<<
                       --------------
value     &    times present in column
enough          26567
insufficient    12153
dry              4921
seasonal         3244
unknown           635
Name: quantity_group, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> source  <<<
                       ------
value     &    times present in column
spring                  13620
shallow well            13507
machine dbh              8813
river                    7685
rainwater harvesting     1859
hand dtw                  698
lake                      586
dam                       518
other                     175
unknown                    59
Name: source, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> source_type  <<<
                       -----------
value     &    times present in column
spring                  13620
shallow well            13507
borehole                 9511
river/lake               8271
rainwater harvesting     1859
dam                       518
other                     234
Name: source_type, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> source_class  <<<
                       ------------
value     &    times present in column
groundwater    36638
surface        10648
unknown          234
Name: source_class, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> waterpoint_type  <<<
                       ---------------
value     &    times present in column
communal standpipe             22778
hand pump                      14015
other                           5138
communal standpipe multiple     4864
improved spring                  631
cattle trough                     89
dam                                5
Name: waterpoint_type, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> waterpoint_type_group  <<<
                       ---------------------
value     &    times present in column
communal standpipe    27642
hand pump             14015
other                  5138
improved spring         631
cattle trough            89
dam                       5
Name: waterpoint_type_group, dtype: int64
--------------------------------------------------------------------------------
feature displayed: >>> status_group  <<<
                       ------------
value     &    times present in column
functional                 25807
non functional             18259
functional needs repair     3454
Name: status_group, dtype: int64

#### Analysis of columns: source, source_type, source_class

In [13]:
train[['source', 'source_type', 'source_class']].isin(['unknown']).sum()

source           59
source_type       0
source_class    234
dtype: int64

In [14]:
train[['source', 'source_type', 'source_class']].isin(['other']).sum()

source          175
source_type     234
source_class      0
dtype: int64

#### Analyze columns 'scheme_management', 'management', 'management_group'

In [15]:
train[['scheme_management', 'management', 'management_group']].isin(['unknown']).sum()

scheme_management      0
management           453
management_group     453
dtype: int64

In [16]:
train[['scheme_management', 'management', 'management_group']].isin(['other']).sum()

scheme_management      0
management           669
management_group     749
dtype: int64

In [18]:
train[['scheme_management', 'management', 'management_group']].isna().sum()

scheme_management    3128
management              0
management_group        0
dtype: int64

In [17]:
train[['scheme_management', 'management', 'management_group']]

      scheme_management        management management_group
43360               VWC               vwc       user-group
7263                WUA               wua       user-group
2486                VWC               vwc       user-group
313                 NaN               vwc       user-group
52726               VWC               vwc       user-group
8558                VWC               vwc       user-group
2559                VWC               vwc       user-group
54735               VWC               vwc       user-group
25763               VWC               vwc       user-group
44540               VWC               vwc       user-group
28603               VWC               vwc       user-group
4372    Water authority   water authority       commercial
30666        Parastatal        parastatal       parastatal
6431            Company  private operator       commercial
57420               VWC               vwc       user-group
1373                VWC               vwc       user-group
2026                VWC               vwc       user-group
58977               VWC               vwc       user-group
41101               VWC               vwc       user-group
10019               VWC               vwc       user-group
5103    Water authority               vwc       user-group
36712               VWC               vwc       user-group
29670               NaN               vwc       user-group
54588               NaN               wug       user-group
31867               NaN               vwc       user-group
12090               VWC               vwc       user-group
48300               VWC               vwc       user-group
16754               WUA               wua       user-group
50582               NaN           unknown          unknown
9136   Private operator  private operator       commercial
...                 ...               ...              ...
26450       Water Board       water board       user-group
56373               VWC               vwc       user-group
4595              Other             other            other
35771               VWC               vwc       user-group
41564   Water authority       water board       user-group
30571               WUA               wua       user-group
25961               VWC               vwc       user-group
21280               VWC               vwc       user-group
40122               VWC               vwc       user-group
42270   Water authority               vwc       user-group
38160               VWC               vwc       user-group
6050    Water authority               wug       user-group
12578               VWC               vwc       user-group
56315        Parastatal        parastatal       parastatal
48801               VWC               vwc       user-group
5891                VWC               vwc       user-group
59254               VWC               vwc       user-group
3731                VWC               vwc       user-group
23046               VWC               vwc       user-group
28292               WUG               vwc       user-group
19682               VWC               vwc       user-group
38481               VWC               wug       user-group
7096                VWC               vwc       user-group
36363           Company           company       commercial
48006               VWC               vwc       user-group
9795                VWC               vwc       user-group
58170               VWC               vwc       user-group
17191               VWC               vwc       user-group
8192                VWC               vwc       user-group
49783               VWC               vwc       user-group

[47520 rows x 3 columns]

#### Analyze columns 'extraction_type', 'extraction_type_group', 'extraction_type_class'

In [19]:
train[['extraction_type', 'extraction_type_group', 'extraction_type_class']].isna().sum()

extraction_type          0
extraction_type_group    0
extraction_type_class    0
dtype: int64

In [23]:
train[['extraction_type', 'extraction_type_group', 'extraction_type_class']].nunique()

extraction_type          18
extraction_type_group    13
extraction_type_class     7
dtype: int64

In [24]:
train[['extraction_type', 'extraction_type_group', 'extraction_type_class']].isin(['unknown']).sum()

extraction_type          0
extraction_type_group    0
extraction_type_class    0
dtype: int64

In [25]:
train[['extraction_type', 'extraction_type_group', 'extraction_type_class']].isin(['other']).sum()

extraction_type          5193
extraction_type_group    5193
extraction_type_class    5193
dtype: int64

#### Analyzing the results above, I decided the next actions:
1. Delete column  'recorded_by'. It's contains the same value in every cell.

2. Delete column 'quality_group'. Have same data as 'water_quality',  but the last have 2 values divided in 4 values 

3. Doubled data in the columns 'quantity_group' and 'quantity'. Drop 'quantity_group' column

4. Delete column 'waterpoint_type_group'. Have same data as 'waterpoint_type',  but the last have 1 category divided in 2 categories

5. Columns 'payment' and 'payment_type' double the same values and I will drop the 'payment column'

6. Columns  'source', 'source_type', 'source_class' contain the same values. Delete 'source_type', 'source_class'

7. Delete column 'scheme_management' it's look like it double the 'management', and the last more or less is it doubled by 'management_group' column what will be deleted too

8. Delete columns 'extraction_type_group', 'extraction_type_class' that double the column 'extraction_type' (the last have more type of value, and could be more useful)

#### Conclusion
Delete columns:  recorded_by, quality_group, quantity_group, waterpoint_type_group, payment column, source_type, source_class, scheme_management, management_group, extraction_type_group, extraction_type_class

In [0]:
def wrangle(X):
  """Wrangle train, validate and test sets in the same way"""
  X = X.copy()
  
  # Convert data_recorded to datetime
  X['date_recorded'] = pd.to_datetime(X['date_recorded'], infer_datetime_format=True)
  
  # Extract components from date_recorded, then drop the original column
  X['year_recorded'] = X['date_recorded'].dt.year
  X['month_recorded'] = X['date_recorded'].dt.month
  X['day_recorded'] = X['date_recorded'].dt.day
  X = X.drop(columns='date_recorded')
  
  # Delete the columns that double the data
  X = X.drop(columns=['recorded_by', 'quality_group', 'quantity_group', 
              'waterpoint_type_group', 'payment', 'source_type', 
              'source_class', 'scheme_management', 'management_group', 
              'extraction_type_group', 'extraction_type_class', 'num_private'])
  
  # Delete 'id' column doesn't contain information as feature
  X.drop(columns='id', inplace=True)
  
  # About 3% of the time, latitude has small values near zero,
  # outside Tanzania, so we'll treat these like null values
  X['latitude'] = X['latitude'].replace(-2e-08, np.nan)

  # When columns have zeros and shouldn't, they are like null values
  for col in ['construction_year', 'longitude', 'latitude', 'gps_height', 'population']:
    X[col] = X[col].replace(0, np.nan)
    
  # Fill na values based on the feature's distribution

#   dist = X['construction_year'].value_counts(normalize=True)
#   X.loc[X['construction_year'].isna(),'construction_year'] = np.random.choice(
#       dist.index, size=X['construction_year'].isna().sum(),p=dist.values)
  
  # Calculate the age of the pump at the moment of recording
  X['age'] = X['year_recorded'] - X['construction_year']
  
  X.drop(columns='construction_year', inplace=True)
  

  
  return X

#### Wrangle datasets

In [0]:
train = wrangle(train)
val = wrangle(val)
test = wrangle(test)

In [176]:
train.head()

       amount_tsh                  funder  ...  day_recorded   age
43360        0.00                     NaN  ...            27 11.00
7263       500.00               Rc Church  ...            23  3.00
2486        25.00                   Donor  ...             7  1.00
313          0.00  Government Of Tanzania  ...            31 16.00
52726        0.00                   Water  ...            10  2.00

[5 rows x 31 columns]

In [0]:
train.n

In [182]:
train[['gps_height',	'longitude',	'latitude', 'basin']].isna().sum()

gps_height    16305
longitude      1442
latitude       1442
basin             0
dtype: int64

In [0]:
position =

In [50]:
train.shape, val.shape, test.shape

((47520, 32), (11880, 32), (14358, 31))

#### Define features and target

In [0]:
# The status_group column is the target
target = 'status_group'

# Get a dataframe with all train columns except the target
train_features = train.drop(columns=[target])

# Get a list of the numeric features
numeric_features = train_features.select_dtypes(include='number').columns.tolist()

# Get a series with the cardinality of the nonnumeric features
cardinality = train_features.select_dtypes(exclude='number').nunique()

# Get a list of all categorical features with cardinality <= 50
categorical_features = cardinality[cardinality <= 50].index.tolist()

# Combine the lists 
features = numeric_features + categorical_features

In [0]:
# Arrange data into X features matrix and y target vector 
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_test = test[features]

## Random Forest Classifier

In [168]:
%%time
from sklearn.ensemble import RandomForestClassifier

pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True), 
    SimpleImputer(strategy='mean'), 
    RandomForestClassifier(n_estimators=200, random_state=42, n_jobs=-1)
)

# Fit on train, score on val
model = pipeline.fit(X_train, y_train)
print('Validation Accuracy', pipeline.score(X_val, y_val))

Validation Accuracy 0.8075757575757576
CPU times: user 40.7 s, sys: 209 ms, total: 40.9 s
Wall time: 21.6 s

In [0]:
y_pred = model.predict(X_test)

In [22]:
X_train.shape

(47520, 24)

In [23]:
X_test.shape

(14358, 24)

## Ordinal encoding

In [0]:
# Arrange data into X features matrix and y target vector
X_train = train.drop(columns=target)
y_train = train[target]
X_val = val.drop(columns=target)
y_val = val[target]

In [48]:
X_train.shape, X_val.shape, X_test.shape

((47520, 31), (11880, 31), (14358, 24))

In [201]:
%%time

pipeline = make_pipeline(
    ce.OrdinalEncoder(), 
    SimpleImputer(strategy='median'), 
    RandomForestClassifier(n_estimators=1000, random_state=42, n_jobs=-1)
)

# Fit on train, score on val
pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(test)
print('Validation Accuracy', pipeline.score(X_val, y_val))

Validation Accuracy 0.8114478114478114
CPU times: user 3min 21s, sys: 1.59 s, total: 3min 23s
Wall time: 1min 43s

In [155]:
%%time

pipeline = make_pipeline(
    ce.OrdinalEncoder(), 
    SimpleImputer(strategy='mean'), 
    RandomForestClassifier(n_estimators=200, random_state=42, n_jobs=-1)
)

# Fit on train, score on val
pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(test)
print('Validation Accuracy', pipeline.score(X_val, y_val))

Validation Accuracy 0.8069023569023569
CPU times: user 41.5 s, sys: 147 ms, total: 41.6 s
Wall time: 21.5 s

In [132]:
%%time

pipeline = make_pipeline(
    ce.OrdinalEncoder(), 
    SimpleImputer(strategy='most_frequent'), 
    RandomForestClassifier(n_estimators=200, random_state=42, n_jobs=-1)
)

# Fit on train, score on val
pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(test)
print('Validation Accuracy', pipeline.score(X_val, y_val))

Validation Accuracy 0.80993265993266
CPU times: user 40.3 s, sys: 188 ms, total: 40.5 s
Wall time: 21.1 s

In [26]:
X_val.shape

(11880, 31)

In [0]:
submission = sample_submission.copy()
submission['status_group'] = y_pred
submission.to_csv('submission-10.csv', index=False)

In [0]:
from google.colab import files
files.download('submission-10.csv')

## XGBoost Classifier

In [156]:
!pip install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.6/dist-packages (0.90)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.16.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.3.0)

In [0]:
from xgboost import XGBClassifier

In [0]:
encoder = pipeline.named_steps['ordinalencoder']
imputer = pipeline.named_steps['simpleimputer']
X_train_encoded = encoder.transform(X_train)
X_train_imputed = imputer.transform(X_train_encoded)

In [159]:
model = XGBClassifier()
model.fit(X_train_encoded, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [0]:
X_val_encoded = encoder.transform(X_val)
X_val_imputed = imputer.transform(X_val_encoded)

In [161]:
model.score(X_val_encoded, y_val)

0.7462962962962963

###futuristic model

In [0]:
# Arrange data into X features matrix and y target vector
X_train = train.drop(columns=target)
y_train = train[target]
X_val = val.drop(columns=target)
y_val = val[target]

In [0]:
encoder = pipeline.named_steps['ordinalencoder']
imputer = pipeline.named_steps['simpleimputer']
X_train_encoded = encoder.transform(X_train)
X_train_imputed = imputer.transform(X_train_encoded)

In [200]:
%%time




pipeline = make_pipeline(
    XGBClassifier(),
    ce.OrdinalEncoder(), 
    SimpleImputer(strategy='median'), 
    
    RandomForestClassifier(n_estimators=200, random_state=42, n_jobs=-1)
    
)

# Fit on train, score on val
pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(test)
print('Validation Accuracy', pipeline.score(X_val, y_val))

TypeError: ignored