In [36]:
import sys
import pandas as pd
import numpy as np
import seaborn as sns

## Load Data

In [360]:
path = '/Users/ridleyleisy/Documents/lambda/unit_two/DS-Unit-2-Classification-1/ds4-predictive-modeling-challenge/'

In [559]:
train = pd.read_csv(path + 'train_features.csv')
test = pd.read_csv(path + 'test_features.csv')
labels = pd.read_csv(path + 'train_labels.csv')
sample_submission = pd.read_csv('https://drive.google.com/uc?export=download&id=1kfJewnmhowpUo381oSn3XqsQ6Eto23XV')

## clean data

### numeric

In [560]:
def drop_cols_rows(df):
    df.drop('num_private',axis=1,inplace=True)
    df.drop('recorded_by',axis=1,inplace=True)
    return df

In [561]:
train = drop_cols_rows(train)

#### replace longitude

In [562]:
#test whether you want to keep longitude
long_mean = train.loc[train['longitude'] !=0]['longitude'].mean()
train['longitude'].replace(0,long_mean,inplace=True)
test['longitude'].replace(0,long_mean,inplace=True)

#### drop longitude

In [563]:
#test whether you want to drop longitude from dataset
train = train.loc[train['longitude'] != 0]
test = test.loc[test['longitude'] != 0]

#### reduce label size

In [564]:
labels = labels.merge(train,on='id')[['id','status_group']]

## Train construction year data

In [565]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
import seaborn as sns

#### construction year predicted by random forest

In [566]:
train['construction_year'] = train['construction_year'].replace(0,np.nan)
test['construction_year'] = test['construction_year'].replace(0,np.nan)

In [567]:
def transform_construction(df):
    
    df = df.select_dtypes(include=np.number)
    X = df.loc[~df['construction_year'].isna()]
    
    # can only use these featuers since they differ 
    features = ['amount_tsh', 'gps_height', 'longitude', 'latitude',
       'region_code', 'district_code', 'population']
    target = 'construction_year'
    
    X_train = X[features]
    y_train = X[target]
    
    X_train, X_test, y_train, y_test = train_test_split(X_train,y_train)
    m = RandomForestRegressor(n_estimators=20,max_depth=25)
    m.fit(X_train, y_train)
    
    vals = m.predict(df.loc[df['construction_year'].isna()][features])
    
    return  vals

In [569]:
train.loc[train['construction_year'].isna(),'construction_year'] = transform_construction(train)
test.loc[test['construction_year'].isna(),'construction_year'] = transform_construction(test)
train['construction_year'] = round(train['construction_year'])
test['construction_year'] = round(test['construction_year'])

#### construction year based on distribution

In [371]:
# getting distributions for construction years
dist = train['construction_year'].value_counts(normalize=True)
dist_test = test['construction_year'].value_counts(normalize=True)

In [372]:
# applying distribution of construction year to na values for train and test sets
train.loc[train['construction_year'].isna(),'construction_year'] = np.random.choice(dist.index, size=train['construction_year'].isna().sum(),p=dist.values)

In [373]:
test.loc[test['construction_year'].isna(),'construction_year'] = np.random.choice(dist_test.index, size=test['construction_year'].isna().sum(),p=dist_test.values)

### feature engineering

In [570]:
def add_construction_diff(df):
    df['date_recorded'] = pd.to_datetime(df['date_recorded'])
    df['construction_year'] = pd.to_datetime(df['construction_year'],format="%Y")
    df['time_since_construction'] = (df['date_recorded'] - df['construction_year']).dt.days
    df.loc[df['time_since_construction'] < 0,'time_since_construction'] = 0    
    df['construction_year'] = df['construction_year'].dt.year
    return df

In [571]:
test = add_construction_diff(test)
train = add_construction_diff(train)

## Encoding and Scaling Categorical Data

In [616]:
import category_encoders as ce
from sklearn.preprocessing import RobustScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [661]:
unique = train.describe(exclude=np.number).T.sort_values(by='unique')

In [573]:
cat_features = list(unique.loc[unique['unique'] < 130].index)

In [575]:
numeric_features = ['amount_tsh', 'gps_height', 'longitude', 'latitude','time_since_construction',
       'region_code', 'district_code', 'population']
encode_features = cat_features
features = numeric_features + encode_features

### Pipeline

In [663]:
encoder = ce.OneHotEncoder(use_cat_names=True)
scaler = RobustScaler(with_scaling=False)

In [664]:
X_train = train[features]
y_train = labels['status_group']

In [665]:
X_train, X_val, y_train, y_val = train_test_split(
    X_train, y_train, train_size=0.80, test_size=0.20, 
    stratify=y_train, random_state=42)

In [666]:
X_train_sub = X_train[features]
X_val_sub = X_val[features]

In [667]:
pipeline1 = Pipeline([('encoder',encoder),('scaler',scaler)])

In [668]:
pipeline1.fit_transform(X_train_sub)

array([[ 1.000e+00, -1.000e+00,  0.000e+00, ...,  0.000e+00,  1.000e+00,
        -2.500e+01],
       [ 0.000e+00,  0.000e+00,  0.000e+00, ..., -1.000e+00,  1.000e+00,
         1.500e+02],
       [ 0.000e+00, -1.000e+00,  1.000e+00, ..., -6.000e+00, -2.000e+00,
         2.275e+03],
       ...,
       [ 0.000e+00, -1.000e+00,  1.000e+00, ...,  7.800e+01,  3.000e+01,
        -2.400e+01],
       [ 0.000e+00, -1.000e+00,  1.000e+00, ...,  7.800e+01,  3.000e+01,
         2.950e+02],
       [ 0.000e+00,  0.000e+00,  0.000e+00, ..., -7.000e+00,  3.000e+00,
         6.500e+01]])

In [669]:
pipeline1.transform(X_val_sub)

array([[  0.,   0.,   0., ...,   6.,   4., -25.],
       [  0.,  -1.,   1., ...,   4.,  -1., -24.],
       [  1.,  -1.,   0., ...,  -9.,   0., 395.],
       ...,
       [  0.,   0.,   0., ...,   5.,   3., -25.],
       [  0.,   0.,   0., ...,  -8.,  -2., -24.],
       [  0.,   0.,   0., ...,  87.,  -2., 775.]])

## Logistical Regression

In [298]:
model = LogisticRegression(solver='lbfgs', multi_class='auto', max_iter=1000)
model.fit(X_train_scaled, y_train)

KeyboardInterrupt:

In [ ]:
model.score(X_val_scaled,y_val)

## Decision Tree

In [389]:
from sklearn.tree import DecisionTreeClassifier

In [390]:
m = DecisionTreeClassifier(max_depth=25)

In [391]:
m.fit(X_train_scaled,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=25,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [392]:
m.score(X_val_scaled,y_val)

0.7585858585858586

In [393]:
m.score(X_train_scaled,y_train)

0.9402356902356902

In [394]:
pd.DataFrame(m.feature_importances_,X_train_sub_encoded.columns).sort_values(by=0).tail(10)

                                                    0
district_code                                0.010797
waterpoint_type_communal standpipe multiple  0.021741
amount_tsh                                   0.025102
population                                   0.040552
gps_height                                   0.053927
waterpoint_type_group_other                  0.082631
time_since_construction                      0.095104
latitude                                     0.115097
longitude                                    0.128420
quantity_group_dry                           0.151526

## Random Forest

In [670]:
from sklearn.ensemble import RandomForestClassifier

In [688]:
m = RandomForestClassifier(n_estimators=20,max_depth=27,max_features='auto')

In [689]:
m.fit(X_train_scaled,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=27, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [690]:
m.score(X_val_scaled,y_val)

0.8024410774410774

In [691]:
m.score(X_train_scaled,y_train)

0.9598905723905724

In [699]:
pd.DataFrame(m.feature_importances_,X_train_sub_encoded.columns).sort_values(by=0)

                                                    0
extraction_type_-1                           0.000000
quality_group_-1                             0.000000
quantity_-1                                  0.000000
scheme_management_-1                         0.000000
management_-1                                0.000000
waterpoint_type_group_-1                     0.000000
quantity_group_-1                            0.000000
extraction_type_class_-1                     0.000000
region_-1                                    0.000000
payment_type_-1                              0.000000
management_group_-1                          0.000000
payment_-1                                   0.000000
basin_-1                                     0.000000
source_type_-1                               0.000000
source_-1                                    0.000000
lga_-1                                       0.000000
permit_-1                                    0.000000
extraction_type_group_-1                     0.000000
public_meeting_-1                            0.000000
water_quality_-1                             0.000000
waterpoint_type_-1                           0.000000
source_class_-1                              0.000000
scheme_management_None                       0.000001
lga_Songea Urban                             0.000005
lga_Lindi Urban                              0.000010
extraction_type_other - mkulima/shinyanga    0.000012
lga_Kigoma Urban                             0.000016
waterpoint_type_group_dam                    0.000023
extraction_type_climax                       0.000025
lga_Kinondoni                                0.000026
...                                               ...
quality_group_unknown                        0.005276
extraction_type_class_handpump               0.005291
region_Iringa                                0.005306
payment_type_never pay                       0.005351
permit_False                                 0.005521
scheme_management_VWC                        0.005575
permit_True                                  0.006210
waterpoint_type_group_hand pump              0.006507
quantity_group_insufficient                  0.006957
quantity_insufficient                        0.007205
waterpoint_type_communal standpipe multiple  0.009187
quantity_group_enough                        0.009436
waterpoint_type_group_other                  0.009487
payment_never pay                            0.009745
extraction_type_class_other                  0.010064
waterpoint_type_communal standpipe           0.010300
region_code                                  0.012251
quantity_enough                              0.012911
district_code                                0.014437
extraction_type_other                        0.014749
waterpoint_type_other                        0.016531
amount_tsh                                   0.016956
extraction_type_group_other                  0.021177
population                                   0.037766
quantity_dry                                 0.050463
quantity_group_dry                           0.051583
gps_height                                   0.054302
time_since_construction                      0.079790
latitude                                     0.094866
longitude                                    0.097796

[329 rows x 1 columns]

In [692]:
preds = m.predict(test_sub_scaled)

In [611]:
preds

array(['non functional', 'functional', 'functional', ..., 'functional',
       'functional', 'non functional'], dtype=object)

In [404]:
(pd.Series(m.feature_importances_,X_train_sub_encoded.columns)).sort_values()

payment_-1                                     0.000000
region_-1                                      0.000000
extraction_type_class_-1                       0.000000
extraction_type_-1                             0.000000
waterpoint_type_group_-1                       0.000000
basin_-1                                       0.000000
management_group_-1                            0.000000
waterpoint_type_-1                             0.000000
quantity_-1                                    0.000000
source_-1                                      0.000000
extraction_type_group_-1                       0.000000
quantity_group_-1                              0.000000
water_quality_-1                               0.000000
management_-1                                  0.000000
source_type_-1                                 0.000000
scheme_management_-1                           0.000000
public_meeting_-1                              0.000000
payment_type_-1                                0.000000
scheme_management_None                         0.000000
permit_-1                                      0.000000
quality_group_-1                               0.000000
lga_-1                                         0.000000
source_class_-1                                0.000000
lga_Lindi Urban                                0.000005
waterpoint_type_dam                            0.000008
waterpoint_type_group_dam                      0.000010
lga_Songea Urban                               0.000013
lga_Kinondoni                                  0.000019
extraction_type_other - mkulima/shinyanga      0.000020
lga_Kigoma Urban                               0.000038
                                                 ...
management_vwc                                 0.005203
extraction_type_nira/tanira                    0.005246
scheme_management_VWC                          0.005248
payment_type_per bucket                        0.005271
waterpoint_type_hand pump                      0.005436
public_meeting_True                            0.005522
permit_True                                    0.005729
payment_type_never pay                         0.005763
permit_False                                   0.005929
waterpoint_type_communal standpipe multiple    0.006165
waterpoint_type_communal standpipe             0.006371
quantity_group_insufficient                    0.006405
extraction_type_group_other                    0.007851
payment_never pay                              0.008665
waterpoint_type_other                          0.010996
quantity_insufficient                          0.012169
quantity_group_enough                          0.012986
amount_tsh                                     0.014207
region_code                                    0.015281
waterpoint_type_group_other                    0.015437
district_code                                  0.015942
quantity_enough                                0.017702
extraction_type_class_other                    0.021576
quantity_dry                                   0.032306
quantity_group_dry                             0.033669
population                                     0.042917
gps_height                                     0.058584
time_since_construction                        0.098372
latitude                                       0.108160
longitude                                      0.108982
Length: 329, dtype: float64

In [323]:
X_train_sub_encoded

,permit_nan,permit_True,permit_False,permit_-1,public_meeting_True,public_meeting_False,public_meeting_nan,public_meeting_-1,source_class_groundwater,source_class_surface,...,lga_Arusha Urban,lga_-1,amount_tsh,gps_height,longitude,latitude,time_since_construction,region_code,district_code,population
43360,1,0,0,0,1,0,0,0,1,0,...,0,0,0.0,0,33.542898,-9.174777,7147,12,4,0
7263,0,1,0,0,1,0,0,0,1,0,...,0,0,500.0,2049,34.665760,-9.308548,1177,11,4,175
2486,0,0,1,0,1,0,0,0,1,0,...,0,0,25.0,290,38.238568,-6.179919,430,6,1,2300
313,0,1,0,0,1,0,0,0,1,0,...,0,0,0.0,0,30.716727,-1.289055,941,18,1,0
52726,0,1,0,0,1,0,0,0,1,0,...,0,0,0.0,0,35.389331,-6.399942,433,1,6,0
8558,0,1,0,0,1,0,0,0,0,1,...,0,0,0.0,1295,31.214583,-8.431428,9349,15,2,200
2559,0,1,0,0,1,0,0,0,1,0,...,0,0,20000.0,1515,36.696700,-3.337926,6820,2,2,150
54735,0,0,1,0,1,0,0,0,1,0,...,0,0,0.0,0,36.292724,-5.177333,836,1,1,0
25763,0,0,1,0,0,1,0,0,1,0,...,0,0,0.0,0,32.877248,-8.925921,14459,12,6,0
44540,0,1,0,0,1,0,0,0,1,0,...,0,0,0.0,0,33.014412,-3.115869,5327,19,7,0
28603,0,1,0,0,1,0,0,0,1,0,...,0,0,0.0,286,38.950769,-10.889023,10260,90,33,1
4372,0,0,1,0,1,0,0,0,1,0,...,0,0,20.0,17,39.020094,-5.346661,791,4,5,300
30666,0,1,0,0,1,0,0,0,1,0,...,0,0,0.0,1404,36.694357,-3.035552,4463,2,6,200
6431,0,1,0,0,1,0,0,0,0,1,...,0,0,50.0,-12,38.890990,-6.444754,1173,6,1,30
57420,0,1,0,0,1,0,0,0,1,0,...,0,0,0.0,0,31.746292,-1.253936,4578,18,7,0
1373,0,1,0,0,1,0,0,0,1,0,...,0,0,0.0,1466,37.501573,-3.277989,15060,3,4,15
2026,0,1,0,0,1,0,0,0,1,0,...,0,0,6500.0,1969,35.371400,-4.470802,3697,21,2,162
58977,0,1,0,0,0,0,1,0,1,0,...,0,0,0.0,319,38.018784,-9.568769,2578,80,43,250
41101,0,1,0,0,1,0,0,0,0,1,...,0,0,500.0,884,29.660968,-4.818648,10241,16,3,1500
10019,0,1,0,0,1,0,0,0,0,1,...,0,0,10.0,1472,35.714295,-3.314773,7013,24,30,150
5103,0,0,1,0,1,0,0,0,1,0,...,0,0,0.0,1274,30.241727,-4.182626,6226,16,2,4210
36712,0,0,1,0,1,0,0,0,1,0,...,0,0,25.0,1551,31.023716,-7.490116,6037,15,3,1
29670,0,1,0,0,1,0,0,0,0,1,...,0,0,0.0,292,35.944307,-8.525588,11389,5,3,500
54588,0,1,0,0,1,0,0,0,1,0,...,0,0,0.0,0,32.580108,-3.549380,4780,17,3,0
31867,0,1,0,0,1,0,0,0,1,0,...,0,0,200.0,217,36.679869,-8.157754,11765,5,3,280
12090,0,1,0,0,1,0,0,0,1,0,...,0,0,0.0,312,38.975985,-10.528595,1138,90,33,30
48300,0,1,0,0,1,0,0,0,0,1,...,0,0,50.0,983,35.451872,-10.640641,1508,10,2,0
16754,0,1,0,0,1,0,0,0,1,0,...,0,0,2200.0,1795,34.815906,-9.656551,2249,11,4,40
50582,0,1,0,0,0,1,0,0,1,0,...,0,0,20.0,716,35.889997,-7.148531,1902,11,1,1
9136,0,0,1,0,1,0,0,0,1,0,...,0,0,1000.0,1276,30.555693,-3.626554,2966,16,1,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26450,0,1,0,0,1,0,0,0,1,0,...,0,0,5.0,976,37.245432,-3.340166,5191,3,5,50
56373,0,1,0,0,1,0,0,0,1,0,...,0,0,0.0,0,33.263250,-2.561022,197,19,2,0
4595,0,1,0,0,0,0,1,0,1,0,...,0,0,0.0,1597,34.671798,-1.861973,7005,20,2,400
35771,1,0,0,0,1,0,0,0,0,1,...,0,0,0.0,0,33.813449,-9.120584,921,12,4,0
41564,0,1,0,0,1,0,0,0,0,1,...,0,0,1000.0,1241,30.030766,-4.831457,10621,16,2,750
30571,0,1,0,0,1,0,0,0,1,0,...,0,0,0.0,0,31.678456,-2.406259,924,18,8,0
25961,0,1,0,0,1,0,0,0,1,0,...,0,0,0.0,1325,34.543563,-5.059194,3693,13,2,1
21280,1,0,0,0,0,0,1,0,0,1,...,0,0,0.0,1251,35.014961,-5.017372,4778,13,2,230
40122,0,1,0,0,1,0,0,0,1,0,...,0,0,3000.0,979,31.074871,-7.094016,2040,15,1,500
42270,0,0,1,0,1,0,0,0,1,0,...,0,0,500.0,1277,30.119439,-4.249420,12825,16,2,520
38160,0,1,0,0,1,0,0,0,1,0,...,0,0,1500.0,2007,34.603101,-9.274893,9937,11,4,30
6050,0,0,1,0,1,0,0,0,1,0,...,0,0,0.0,0,33.515113,-3.141018,10654,17,2,0
12578,0,0,1,0,1,0,0,0,1,0,...,0,0,0.0,0,32.789723,-8.991740,931,12,6,0
56315,0,0,1,0,1,0,0,0,1,0,...,0,0,0.0,-22,38.900205,-6.443328,1538,6,1,800
48801,0,1,0,0,0,0,1,0,0,1,...,0,0,100.0,1588,34.929878,-4.418918,1885,21,2,2992
5891,0,1,0,0,1,0,0,0,1,0,...,0,0,500.0,2145,36.658177,-3.222011,8483,2,2,150
59254,0,1,0,0,0,0,1,0,1,0,...,0,0,0.0,677,37.710718,-9.719307,7694,80,43,250
3731,0,1,0,0,1,0,0,0,0,1,...,0,0,0.0,1237,34.311775,-1.657887,769,20,2,750
23046,0,0,1,0,1,0,0,0,0,1,...,0,0,3000.0,1302,34.765801,-8.721545,11399,11,4,120
28292,0,1,0,0,1,0,0,0,0,1,...,0,0,600.0,976,29.724980,-4.790095,1851,16,3,500
19682,0,1,0,0,1,0,0,0,1,0,...,0,0,0.0,0,33.954588,-9.448471,2768,12,3,0
38481,0,1,0,0,1,0,0,0,0,1,...,0,0,0.0,0,33.589740,-8.930013,1552,12,2,0
7096,0,1,0,0,1,0,0,0,0,1,...,0,0,0.0,995,35.483043,-10.625817,3700,10,2,0
36363,0,1,0,0,1,0,0,0,1,0,...,0,0,0.0,1227,37.638517,-3.240390,3715,3,1,1
48006,0,1,0,0,1,0,0,0,0,1,...,0,0,0.0,0,32.908238,-2.591489,13711,19,3,0
9795,0,0,1,0,1,0,0,0,0,1,...,0,0,50.0,489,38.268574,-5.450254,816,4,6,1300
58170,0,1,0,0,1,0,0,0,1,0,...,0,0,0.0,0,33.926294,-9.641293,1436,12,3,0
17191,0,0,1,0,1,0,0,0,1,0,...,0,0,0.0,599,39.262924,-10.768079,398,90,33,1
8192,0,0,1,0,1,0,0,0,1,0,...,0,0,30.0,426,39.348550,-10.642069,9169,90,33,320
49783,0,1,0,0,1,0,0,0,0,1,...,0,0,50.0,501,37.562148,-6.888409,10656,5,6,90

## Predicting for Kaggle

In [466]:
test_sub = test[features]
test_sub_encoded = encoder.transform(test_sub)
test_sub_scaled = scaler.transform(test_sub_encoded)

In [1310]:
preds = model.predict(test_sub_scaled)

In [612]:
submission = pd.DataFrame(test['id'])

In [613]:
submission['status_group'] = preds

In [614]:
submission

          id             status_group
0      50785           non functional
1      51630               functional
2      17168               functional
3      45559           non functional
4      49871               functional
5      52449               functional
6      24806               functional
7      28965           non functional
8      36301           non functional
9      54122               functional
10       419               functional
11     45750           non functional
12       653           non functional
13     14017           non functional
14     40228               functional
15     27714  functional needs repair
16     28785               functional
17     18532           non functional
18     69961               functional
19     55083           non functional
20      8691           non functional
21     30331           non functional
22     70970               functional
23     61136               functional
24     28799           non functional
25     46825           non functional
26     44718               functional
27     37350               functional
28     65738               functional
29      3271           non functional
...      ...                      ...
14328  73579               functional
14329  52228           non functional
14330  70038               functional
14331  25901           non functional
14332  26580           non functional
14333  66059           non functional
14334  32944               functional
14335  13686           non functional
14336   8471               functional
14337  19620               functional
14338  74162           non functional
14339  37994               functional
14340  71151               functional
14341  45017               functional
14342  12592  functional needs repair
14343  58693               functional
14344  57539           non functional
14345  71252           non functional
14346   7869               functional
14347  57316               functional
14348  59757               functional
14349  64579               functional
14350  57731  functional needs repair
14351  65541               functional
14352  68174               functional
14353  39307           non functional
14354  18990               functional
14355  28749               functional
14356  33492               functional
14357  68707           non functional

[14358 rows x 2 columns]

In [615]:
submission.to_csv('test_submission.csv',index=False)