In [713]:
import sys
import pandas as pd
import numpy as np
import seaborn as sns

## Load Data

In [884]:
path = '/Users/ridleyleisy/Documents/lambda/unit_two/DS-Unit-2-Classification-1/ds4-predictive-modeling-challenge/'

In [885]:
train = pd.read_csv(path + 'train_features.csv')
test = pd.read_csv(path + 'test_features.csv')
labels = pd.read_csv(path + 'train_labels.csv')

## clean data

### numeric

In [886]:
train.describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,59400.000000,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,37115.131768,317.650385,668.297239,34.077427,-5.706033e+00,0.474141,15.297003,5.629747,179.909983,1300.652475
std,21453.128371,2997.574558,693.116350,6.567432,2.946019e+00,12.236230,17.587406,9.633649,471.482176,951.620547
min,0.000000,0.000000,-90.000000,0.000000,-1.164944e+01,0.000000,1.000000,0.000000,0.000000,0.000000
25%,18519.750000,0.000000,0.000000,33.090347,-8.540621e+00,0.000000,5.000000,2.000000,0.000000,0.000000
50%,37061.500000,0.000000,369.000000,34.908743,-5.021597e+00,0.000000,12.000000,3.000000,25.000000,1986.000000
75%,55656.500000,20.000000,1319.250000,37.178387,-3.326156e+00,0.000000,17.000000,5.000000,215.000000,2004.000000
max,74247.000000,350000.000000,2770.000000,40.345193,-2.000000e-08,1776.000000,99.000000,80.000000,30500.000000,2013.000000

In [887]:
def drop_cols_rows(df):
    df.drop('num_private',axis=1,inplace=True)
    df.drop('recorded_by',axis=1,inplace=True)
    df = df.loc[df['longitude'] != 0]
    return df

In [888]:
train, test = drop_cols_rows(train), drop_cols_rows(test)

In [889]:
labels = labels.merge(train,on='id')[['id','status_group']]

## Train construction year data

In [890]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [891]:
def transform_construction(df):
    df['construction_year'] = df['construction_year'].replace(0,np.nan)
    df = df.select_dtypes(include=np.number)
    X = df.loc[~df['construction_year'].isna()]
    
    # can only use these featuers since they differ 
    features = ['amount_tsh', 'gps_height', 'longitude', 'latitude',
       'region_code', 'district_code', 'population']
    target = 'construction_year'
    
    X_train = X[features]
    y_train = X[target]
    
    X_train, X_test, y_train, y_test = train_test_split(X_train,y_train)
    m = DecisionTreeRegressor(max_depth=20)
    m.fit(X_train,y_train)
    
    vals = m.predict(df.loc[df['construction_year'].isna()][features])
    
    return vals

In [892]:
train.loc[train['construction_year'].isna(),'construction_year'] = transform_construction(train)
test.loc[test['construction_year'].isna(),'construction_year'] = transform_construction(test)

In [893]:
train['construction_year'] = round(train['construction_year'])
test['construction_year'] = round(test['construction_year'])

### feature engineering

In [894]:
def add_construction_diff(df):
    df['date_recorded'] = pd.to_datetime(df['date_recorded'])
    df['construction_year'] = pd.to_datetime(df['construction_year'],format="%Y")
    df['time_since_construction'] = (df['date_recorded'] - df['construction_year']).dt.days
    return df

In [895]:
test = add_construction_diff(test)
train = add_construction_diff(train)

## Encoding Categorical Data

In [896]:
train.describe(exclude=np.number).T.sort_values(by='unique')

,count,unique,top,freq,first,last
public_meeting,54612,2,True,49737,NaN,NaN
permit,54532,2,True,38100,NaN,NaN
source_class,57588,3,groundwater,44204,NaN,NaN
quantity,57588,5,enough,32260,NaN,NaN
quantity_group,57588,5,enough,32260,NaN,NaN
management_group,57588,5,user-group,50767,NaN,NaN
quality_group,57588,6,good,49431,NaN,NaN
waterpoint_type_group,57588,6,communal standpipe,34334,NaN,NaN
payment_type,57588,7,never pay,24380,NaN,NaN
source_type,57588,7,spring,17006,NaN,NaN
payment,57588,7,never pay,24380,NaN,NaN
waterpoint_type,57588,7,communal standpipe,28375,NaN,NaN
extraction_type_class,57588,7,gravity,26696,NaN,NaN
water_quality,57588,8,soft,49431,NaN,NaN
basin,57588,9,Pangani,8940,NaN,NaN
source,57588,10,spring,17006,NaN,NaN
management,57588,12,vwc,39746,NaN,NaN
scheme_management,53838,12,VWC,36143,NaN,NaN
extraction_type_group,57588,13,gravity,26696,NaN,NaN
extraction_type,57588,18,gravity,26696,NaN,NaN
region,57588,21,Iringa,5294,NaN,NaN
construction_year,57588,54,1999-01-01 00:00:00,6086,1960-01-01 00:00:00,2013-01-01 00:00:00
lga,57588,124,Njombe,2503,NaN,NaN
date_recorded,57588,353,2011-03-15 00:00:00,572,2002-10-14 00:00:00,2013-12-03 00:00:00
funder,53966,1858,Government Of Tanzania,8842,NaN,NaN
ward,57588,2033,Igosi,307,NaN,NaN
installer,53952,2113,DWE,16255,NaN,NaN
scheme_name,30896,2658,K,682,NaN,NaN
subvillage,57217,18567,Majengo,494,NaN,NaN
wpt_name,57588,36720,none,3492,NaN,NaN

Let's encode
1. source_class
2. quantity
3. management_group
4. payment type
5. source type

In [897]:
features = ['amount_tsh', 'gps_height', 'longitude', 'latitude',
       'region_code', 'district_code', 'population',
       'source_class','quantity','management_group','payment','source']

In [898]:
encode_features = ['source_class','quantity','management_group','payment','source']

In [899]:
X_train = train[features]
y_train = labels['status_group']

In [900]:
X_train, X_test, y_train, y_test = train_test_split(
    X_train, y_train, train_size=0.80, test_size=0.20, 
    stratify=y_train, random_state=42)

In [901]:
import category_encoders as ce

In [902]:
encoded_features = ['source_class','quantity','management_group','payment','source']

In [903]:
encoder = ce.OneHotEncoder(use_cat_names=True)

In [904]:
from sklearn.preprocessing import StandardScaler

In [905]:
X_train_sub = X_train[features]
X_test_sub = X_test[features]

In [906]:
X_train_sub_encoded = encoder.fit_transform(X_train_sub)

In [907]:
X_test_sub_encoded = encoder.transform(X_test_sub)

In [908]:
scaler = StandardScaler()

In [909]:
X_train_scaled = scaler.fit_transform(X_train_sub_encoded)
X_test_scaled = scaler.transform(X_test_sub_encoded)

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

In [910]:
X_train_sub_encoded

,source_class_surface,source_class_groundwater,source_class_unknown,source_class_-1,quantity_enough,quantity_seasonal,quantity_insufficient,quantity_dry,quantity_unknown,quantity_-1,...,source_other,source_unknown,source_-1,amount_tsh,gps_height,longitude,latitude,region_code,district_code,population
51775,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0.0,0,35.701431,-6.414274,1,6,0
38852,0,1,0,0,1,0,0,0,0,0,...,0,0,0,6000.0,1290,34.960272,-9.869398,11,5,150
34004,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0.0,-12,38.896355,-7.927481,60,53,1
7913,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0.0,1565,34.697952,-1.900715,20,2,2000
7932,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0.0,0,33.058693,-8.573507,12,1,0
49064,0,1,0,0,0,1,0,0,0,0,...,0,0,0,1000.0,379,36.861861,-9.020665,5,4,350
5229,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0.0,-13,38.851719,-5.782898,4,5,80
28296,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0.0,0,32.358642,-8.639323,12,6,0
10096,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0.0,0,35.754027,-6.352250,1,5,0
25363,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0.0,280,39.124346,-9.900209,80,53,620
25777,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0.0,-33,39.272541,-8.522922,80,13,120
35644,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0.0,0,35.858470,-4.655303,1,1,0
904,0,1,0,0,0,0,1,0,0,0,...,0,0,0,200.0,1224,37.884817,-4.388357,3,3,50
59065,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0.0,0,30.713012,-1.281588,18,1,0
9940,0,1,0,0,1,0,0,0,0,0,...,0,0,0,3000.0,885,35.365723,-7.641120,11,1,1
45678,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0.0,0,31.697689,-2.782817,18,4,0
38877,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0.0,0,33.829540,-9.579170,12,3,0
23575,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0.0,1347,33.875051,-1.971113,20,4,220
30439,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0.0,1954,35.367031,-4.057779,21,3,98
8541,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0.0,0,32.597021,-3.813854,17,3,0
33123,0,1,0,0,1,0,0,0,0,0,...,0,0,0,50.0,-17,38.972455,-7.944040,60,53,1
24689,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0.0,1222,35.601440,-2.513112,2,5,150
2611,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0.0,367,38.925295,-8.478645,80,13,239
3910,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0.0,0,33.795076,-9.518891,12,3,0
5458,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0.0,0,32.484589,-8.451037,12,6,0
54209,1,0,0,0,1,0,0,0,0,0,...,0,0,0,50.0,6,38.935210,-6.502628,6,1,50
8214,0,1,0,0,0,0,1,0,0,0,...,0,0,0,10.0,1770,35.438410,-4.493651,21,2,200
11655,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0.0,1417,38.288072,-4.785460,4,1,1
26443,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0.0,0,32.317097,-5.081273,14,4,0
15819,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0.0,1842,35.827826,-8.076547,11,7,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10301,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0.0,1766,38.246197,-4.651868,4,1,1
2778,0,1,0,0,1,0,0,0,0,0,...,0,0,0,500.0,1616,34.885014,-8.879248,11,4,80
2098,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0.0,1055,37.011425,-6.021030,5,1,135
8378,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0.0,363,38.904150,-10.272718,80,53,320
11059,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0.0,0,33.618037,-2.765432,19,2,0
20521,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0.0,1799,34.882928,-11.006284,10,3,1
52780,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0.0,0,32.310962,-4.943564,14,3,0
19966,1,0,0,0,1,0,0,0,0,0,...,0,0,0,500.0,334,37.551699,-6.238800,5,6,63
13370,1,0,0,0,1,0,0,0,0,0,...,0,0,0,4700.0,1282,35.234217,-9.095266,11,4,53
43035,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0.0,1317,30.955982,-2.861526,16,1,250
42625,0,1,0,0,1,0,0,0,0,0,...,0,0,0,500.0,463,37.057596,-6.858228,5,1,200
54613,0,1,0,0,1,0,0,0,0,0,...,0,0,0,4500.0,1676,37.583660,-3.147118,3,1,1
47828,0,1,0,0,1,0,0,0,0,0,...,0,0,0,1000.0,430,37.543277,-11.133630,10,1,1
10129,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0.0,0,35.841887,-5.476598,1,4,0
366,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0.0,1185,36.846813,-3.369327,2,7,400
46808,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0.0,0,31.839087,-3.373788,17,5,0
44520,0,1,0,0,0,0,1,0,0,0,...,0,0,0,20.0,94,38.659180,-5.806456,4,6,300
42028,0,1,0,0,1,0,0,0,0,0,...,0,0,0,3000.0,1656,35.304170,-9.334860,11,4,130
39174,0,1,0,0,1,0,0,0,0,0,...,0,0,0,250.0,1252,30.347250,-4.391657,16,2,500
48998,0,1,0,0,0,0,1,0,0,0,...,0,0,0,20.0,847,37.371074,-3.330284,3,6,17
44137,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0.0,0,35.986984,-6.229911,1,5,0
22754,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0.0,1167,32.881651,-1.935430,19,1,400
47866,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0.0,1710,37.899379,-4.359507,3,3,140
43206,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0.0,0,32.090515,-4.811853,14,4,0
5956,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0.0,0,34.209578,-3.217675,17,6,0
13533,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0.0,0,37.217850,-6.523106,5,1,221
24641,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0.0,0,33.166211,-9.275309,12,2,0
5764,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0.0,876,35.801009,-10.711908,10,2,600
12295,0,1,0,0,1,0,0,0,0,0,...,0,0,0,50.0,1277,34.963150,-5.520690,13,3,250
30547,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0.0,1394,34.422111,-2.004985,20,2,580

In [911]:
X_train_scaled

array([[ 1.84396069, -1.81968359, -0.06863383, ..., -0.79561912,
         0.02912231, -0.38317407],
       [-0.54231091,  0.54954609, -0.06863383, ..., -0.23659891,
        -0.07354565, -0.07425573],
       [-0.54231091,  0.54954609, -0.06863383, ...,  2.50260015,
         4.8545165 , -0.38111462],
       ...,
       [ 1.84396069, -1.81968359, -0.06863383, ..., -0.29250093,
        -0.38154953,  0.85249929],
       [-0.54231091,  0.54954609, -0.06863383, ..., -0.12479486,
        -0.27888157,  0.13168983],
       [ 1.84396069, -1.81968359, -0.06863383, ...,  0.26651929,
        -0.38154953,  0.81131017]])

In [912]:
from sklearn.linear_model import LogisticRegression

In [913]:
model = LogisticRegression(solver='lbfgs', multi_class='auto', max_iter=1000)
model.fit(X_train_scaled, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=1000, multi_class='auto',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [914]:
model.score(X_test_sub_encoded,y_test)

0.511373502344157

In [915]:
X_train_scaled

array([[ 1.84396069, -1.81968359, -0.06863383, ..., -0.79561912,
         0.02912231, -0.38317407],
       [-0.54231091,  0.54954609, -0.06863383, ..., -0.23659891,
        -0.07354565, -0.07425573],
       [-0.54231091,  0.54954609, -0.06863383, ...,  2.50260015,
         4.8545165 , -0.38111462],
       ...,
       [ 1.84396069, -1.81968359, -0.06863383, ..., -0.29250093,
        -0.38154953,  0.85249929],
       [-0.54231091,  0.54954609, -0.06863383, ..., -0.12479486,
        -0.27888157,  0.13168983],
       [ 1.84396069, -1.81968359, -0.06863383, ...,  0.26651929,
        -0.38154953,  0.81131017]])