# Assignment
- Learn about the mathematics of Logistic Regression by watching Aaron Gallant's [video #1](https://www.youtube.com/watch?v=pREaWFli-5I) (12 minutes) & [video #2](https://www.youtube.com/watch?v=bDQgVt4hFgY) (9 minutes).
- Start a clean notebook.
- Do train/validate/test split with the Tanzania Waterpumps data.
- Begin to explore and clean the data. For ideas, refer to [The Quartz guide to bad data](https://github.com/Quartz/bad-data-guide),  a "reference to problems seen in real-world data along with suggestions on how to resolve them." One of the issues is ["Zeros replace missing values."](https://github.com/Quartz/bad-data-guide#zeros-replace-missing-values)
- Select different numeric and categorical features. 
- Do one-hot encoding. (Remember it may not work with high cardinality categoricals.)
- Scale features.
- Use scikit-learn for logistic regression.
- Get your validation accuracy score.
- Get and plot your coefficients.
- Submit your predictions to our Kaggle competition.
- Commit your notebook to your fork of the GitHub repo.

## Stretch Goals
- Begin to visualize the data.
- Try different [scikit-learn scalers](https://scikit-learn.org/stable/modules/preprocessing.html)
- Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html):

> Pipeline can be used to chain multiple estimators into one. This is useful as there is often a fixed sequence of steps in processing the data, for example feature selection, normalization and classification. Pipeline serves multiple purposes here:

> - **Convenience and encapsulation.** You only have to call fit and predict once on your data to fit a whole sequence of estimators.
> - **Joint parameter selection.** You can grid search over parameters of all estimators in the pipeline at once.
> - **Safety.** Pipelines help avoid leaking statistics from your test data into the trained model in cross-validation, by ensuring that the same samples are used to train the transformers and predictors.

In [42]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format', '{:.2f}'.format)

In [2]:
!kaggle competitions download -c ds4-predictive-modeling-challenge

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/whaeck/.kaggle/kaggle.json'
Downloading train_features.csv.zip to /Users/whaeck/Code/DS-Unit-2-Classification-1/module1-logistic-regression
 53%|███████████████████▉                  | 2.00M/3.81M [00:00<00:00, 20.0MB/s]
100%|██████████████████████████████████████| 3.81M/3.81M [00:00<00:00, 21.9MB/s]
Downloading train_labels.csv.zip to /Users/whaeck/Code/DS-Unit-2-Classification-1/module1-logistic-regression
  0%|                                                | 0.00/211k [00:00<?, ?B/s]
100%|████████████████████████████████████████| 211k/211k [00:00<00:00, 52.6MB/s]
Downloading test_features.csv.zip to /Users/whaeck/Code/DS-Unit-2-Classification-1/module1-logistic-regression
  0%|                                                | 0.00/948k [00:00<?, ?B/s]
100%|████████████████████████████████████████| 948k/948k [00:00<00:00, 20.0MB/s]
Downloading sample_submission.csv to /Users/whaeck/Code/DS-Unit-2-Classification-1/module1-logistic-regression
  0%|                                                | 0.00/236k [00:00<?, ?B/s]
100%|████████████████████████████████████████| 236k/236k [00:00<00:00, 12.4MB/s]

In [4]:
!unzip test_features.csv.zip
!unzip train_features.csv.zip
!unzip train_labels.csv.zip

Logistic-regression.ipynb
README.md
logistic_regression_categorical_encoding.ipynb
sample_submission.csv
test_features.csv.zip
train_features.csv.zip
train_labels.csv.zip
Archive:  test_features.csv.zip
  inflating: test_features.csv
Archive:  train_features.csv.zip
  inflating: train_features.csv
Archive:  train_labels.csv.zip
  inflating: train_labels.csv

In [5]:
!ls

Logistic-regression.ipynb
README.md
logistic_regression_categorical_encoding.ipynb
sample_submission.csv
test_features.csv
test_features.csv.zip
train_features.csv
train_features.csv.zip
train_labels.csv
train_labels.csv.zip

In [49]:
# csv files were saved by kaggle with no read or write permissions?
train_features = pd.read_csv('train_features.csv')
train_labels = pd.read_csv('train_labels.csv')
test_features = pd.read_csv('test_features.csv')
train_features.shape, train_labels.shape, test_features.shape

((59400, 40), (59400, 2), (14358, 40))

In [56]:
# train_features.describe(include='all')
train_features[train_features['longitude'] == 0]['latitude']

21      -0.00
53      -0.00
168     -0.00
177     -0.00
253     -0.00
256     -0.00
285     -0.00
301     -0.00
306     -0.00
321     -0.00
323     -0.00
326     -0.00
346     -0.00
370     -0.00
433     -0.00
659     -0.00
678     -0.00
697     -0.00
720     -0.00
733     -0.00
753     -0.00
755     -0.00
798     -0.00
839     -0.00
911     -0.00
939     -0.00
960     -0.00
965     -0.00
971     -0.00
992     -0.00
1054    -0.00
1079    -0.00
1122    -0.00
1168    -0.00
1191    -0.00
1208    -0.00
1217    -0.00
1240    -0.00
1250    -0.00
1252    -0.00
1303    -0.00
1333    -0.00
1334    -0.00
1424    -0.00
1449    -0.00
1454    -0.00
1463    -0.00
1502    -0.00
1525    -0.00
1549    -0.00
1561    -0.00
1571    -0.00
1600    -0.00
1606    -0.00
1611    -0.00
1669    -0.00
1699    -0.00
1738    -0.00
1810    -0.00
1830    -0.00
1847    -0.00
1873    -0.00
1918    -0.00
1930    -0.00
1936    -0.00
1937    -0.00
1966    -0.00
1969    -0.00
1989    -0.00
2001    -0.00
2033    -0.00
2058    -0.00
2088    -0.00
2089    -0.00
2159    -0.00
2230    -0.00
2234    -0.00
2262    -0.00
2279    -0.00
2324    -0.00
2369    -0.00
2390    -0.00
2422    -0.00
2424    -0.00
2446    -0.00
2497    -0.00
2561    -0.00
2564    -0.00
2634    -0.00
2675    -0.00
2700    -0.00
2804    -0.00
2809    -0.00
2810    -0.00
2877    -0.00
2884    -0.00
2902    -0.00
2932    -0.00
2935    -0.00
2953    -0.00
2958    -0.00
3009    -0.00
3127    -0.00
3179    -0.00
3224    -0.00
3268    -0.00
3295    -0.00
3307    -0.00
3344    -0.00
3400    -0.00
3415    -0.00
3428    -0.00
3468    -0.00
3500    -0.00
3622    -0.00
3629    -0.00
3680    -0.00
3681    -0.00
3693    -0.00
3713    -0.00
3728    -0.00
3730    -0.00
3734    -0.00
3747    -0.00
3848    -0.00
3966    -0.00
3994    -0.00
4169    -0.00
4248    -0.00
4263    -0.00
4301    -0.00
4354    -0.00
4365    -0.00
4392    -0.00
4433    -0.00
4443    -0.00
4533    -0.00
4546    -0.00
4563    -0.00
4564    -0.00
4591    -0.00
4636    -0.00
4669    -0.00
4760    -0.00
4768    -0.00
4801    -0.00
4851    -0.00
4897    -0.00
4952    -0.00
4962    -0.00
5091    -0.00
5136    -0.00
5151    -0.00
5197    -0.00
5235    -0.00
5243    -0.00
5258    -0.00
5280    -0.00
5290    -0.00
5294    -0.00
5303    -0.00
5363    -0.00
5414    -0.00
5420    -0.00
5563    -0.00
5572    -0.00
5587    -0.00
5659    -0.00
5687    -0.00
5704    -0.00
5710    -0.00
5745    -0.00
5789    -0.00
5861    -0.00
5875    -0.00
5963    -0.00
5976    -0.00
6012    -0.00
6079    -0.00
6083    -0.00
6102    -0.00
6121    -0.00
6150    -0.00
6163    -0.00
6218    -0.00
6278    -0.00
6307    -0.00
6330    -0.00
6353    -0.00
6374    -0.00
6429    -0.00
6432    -0.00
6434    -0.00
6464    -0.00
6498    -0.00
6528    -0.00
6535    -0.00
6588    -0.00
6611    -0.00
6652    -0.00
6672    -0.00
6741    -0.00
6776    -0.00
6813    -0.00
6841    -0.00
6861    -0.00
6891    -0.00
6894    -0.00
6908    -0.00
6920    -0.00
6931    -0.00
6948    -0.00
7050    -0.00
7082    -0.00
7111    -0.00
7204    -0.00
7205    -0.00
7315    -0.00
7325    -0.00
7345    -0.00
7465    -0.00
7504    -0.00
7523    -0.00
7525    -0.00
7558    -0.00
7578    -0.00
7581    -0.00
7588    -0.00
7643    -0.00
7661    -0.00
7709    -0.00
7715    -0.00
7751    -0.00
7766    -0.00
7844    -0.00
7907    -0.00
7908    -0.00
7952    -0.00
7966    -0.00
7982    -0.00
8032    -0.00
8106    -0.00
8135    -0.00
8141    -0.00
8172    -0.00
8194    -0.00
8226    -0.00
8257    -0.00
8291    -0.00
8295    -0.00
         ...
51477   -0.00
51478   -0.00
51523   -0.00
51529   -0.00
51566   -0.00
51571   -0.00
51644   -0.00
51776   -0.00
51911   -0.00
51922   -0.00
51968   -0.00
51985   -0.00
51996   -0.00
52027   -0.00
52076   -0.00
52156   -0.00
52182   -0.00
52247   -0.00
52256   -0.00
52346   -0.00
52377   -0.00
52384   -0.00
52407   -0.00
52419   -0.00
52429   -0.00
52432   -0.00
52458   -0.00
52481   -0.00
52531   -0.00
52540   -0.00
52557   -0.00
52560   -0.00
52591   -0.00
52640   -0.00
52649   -0.00
52669   -0.00
52673   -0.00
52686   -0.00
52746   -0.00
52753   -0.00
52783   -0.00
52874   -0.00
52893   -0.00
52914   -0.00
52918   -0.00
52967   -0.00
53003   -0.00
53024   -0.00
53052   -0.00
53060   -0.00
53064   -0.00
53102   -0.00
53132   -0.00
53145   -0.00
53172   -0.00
53185   -0.00
53239   -0.00
53247   -0.00
53293   -0.00
53404   -0.00
53408   -0.00
53435   -0.00
53441   -0.00
53480   -0.00
53552   -0.00
53639   -0.00
53683   -0.00
53721   -0.00
53761   -0.00
53818   -0.00
53832   -0.00
53888   -0.00
53944   -0.00
53960   -0.00
53965   -0.00
53997   -0.00
53998   -0.00
54055   -0.00
54112   -0.00
54158   -0.00
54193   -0.00
54247   -0.00
54266   -0.00
54290   -0.00
54334   -0.00
54342   -0.00
54350   -0.00
54384   -0.00
54401   -0.00
54414   -0.00
54424   -0.00
54433   -0.00
54558   -0.00
54589   -0.00
54702   -0.00
54723   -0.00
54777   -0.00
54784   -0.00
54801   -0.00
54830   -0.00
54865   -0.00
54879   -0.00
54928   -0.00
54934   -0.00
54960   -0.00
55012   -0.00
55030   -0.00
55052   -0.00
55053   -0.00
55068   -0.00
55097   -0.00
55101   -0.00
55193   -0.00
55202   -0.00
55282   -0.00
55287   -0.00
55314   -0.00
55397   -0.00
55407   -0.00
55448   -0.00
55452   -0.00
55515   -0.00
55591   -0.00
55615   -0.00
55653   -0.00
55685   -0.00
55792   -0.00
55804   -0.00
55805   -0.00
55841   -0.00
55847   -0.00
55870   -0.00
55874   -0.00
55879   -0.00
55888   -0.00
55892   -0.00
55913   -0.00
55957   -0.00
56004   -0.00
56050   -0.00
56055   -0.00
56110   -0.00
56121   -0.00
56131   -0.00
56135   -0.00
56176   -0.00
56188   -0.00
56195   -0.00
56208   -0.00
56225   -0.00
56268   -0.00
56291   -0.00
56424   -0.00
56433   -0.00
56450   -0.00
56469   -0.00
56476   -0.00
56599   -0.00
56607   -0.00
56613   -0.00
56653   -0.00
56676   -0.00
56683   -0.00
56729   -0.00
56755   -0.00
56798   -0.00
56812   -0.00
56820   -0.00
56866   -0.00
56883   -0.00
56899   -0.00
56900   -0.00
56939   -0.00
56972   -0.00
56991   -0.00
57028   -0.00
57114   -0.00
57135   -0.00
57137   -0.00
57156   -0.00
57230   -0.00
57281   -0.00
57285   -0.00
57328   -0.00
57330   -0.00
57350   -0.00
57413   -0.00
57434   -0.00
57443   -0.00
57493   -0.00
57523   -0.00
57528   -0.00
57539   -0.00
57558   -0.00
57583   -0.00
57631   -0.00
57649   -0.00
57662   -0.00
57663   -0.00
57666   -0.00
57748   -0.00
57789   -0.00
57794   -0.00
57807   -0.00
57812   -0.00
57823   -0.00
57827   -0.00
57861   -0.00
57918   -0.00
58005   -0.00
58039   -0.00
58045   -0.00
58046   -0.00
58071   -0.00
58077   -0.00
58102   -0.00
58257   -0.00
58397   -0.00
58413   -0.00
58415   -0.00
58416   -0.00
58435   -0.00
58446   -0.00
58463   -0.00
58517   -0.00
58545   -0.00
58550   -0.00
58555   -0.00
58607   -0.00
58678   -0.00
58735   -0.00
58771   -0.00
58837   -0.00
58859   -0.00
58969   -0.00
58997   -0.00
59017   -0.00
59033   -0.00
59111   -0.00
59120   -0.00
59135   -0.00
59158   -0.00
59162   -0.00
59166   -0.00
59184   -0.00
59189   -0.00
59208   -0.00
59295   -0.00
59324   -0.00
59374   -0.00
Name: latitude, Length: 1812, dtype: float64

In [38]:
def return_mean_if_zero(data, column):
    if data == 0:
        return column.mean()
    else:
        return data
train_features['longitude'] = train_features['longitude'].apply(return_mean_if_zero, args=(train_features['longitude'],))
train_features['latitude']

Empty DataFrame
Columns: [id, amount_tsh, date_recorded, funder, gps_height, installer, longitude, latitude, wpt_name, num_private, basin, subvillage, region, region_code, district_code, lga, ward, population, public_meeting, recorded_by, scheme_management, scheme_name, permit, construction_year, extraction_type, extraction_type_group, extraction_type_class, management, management_group, payment, payment_type, water_quality, quality_group, quantity, quantity_group, source, source_type, source_class, waterpoint_type, waterpoint_type_group]
Index: []

In [11]:
train_labels.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [14]:
from sklearn.model_selection import train_test_split

X_train = train_features
y_train = train_labels['status_group']

X_train, X_val, y_train, y_val = train_test_split(
    X_train, y_train, train_size=0.80, test_size=0.20,
    stratify=y_train)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((47520, 40), (11880, 40), (47520,), (11880,))

In [22]:
X_train.describe(include='all')

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
count,47520.000000,47520.000000,47520,44643,47520.000000,44633,47520.000000,4.752000e+04,47520,47520.000000,...,47520,47520,47520,47520,47520,47520,47520,47520,47520,47520
unique,NaN,NaN,344,1691,NaN,1922,NaN,NaN,30696,NaN,...,7,8,6,5,5,10,7,3,7,6
top,NaN,NaN,2011-03-15,Government Of Tanzania,NaN,DWE,NaN,NaN,none,NaN,...,never pay,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
freq,NaN,NaN,464,7282,NaN,13899,NaN,NaN,2886,NaN,...,20373,40714,40714,26590,26590,13646,13646,36685,22788,27627
mean,37069.306965,319.317577,NaN,NaN,669.851999,NaN,34.089740,-5.702976e+00,NaN,0.521633,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,21461.281958,3169.512039,NaN,NaN,693.274487,NaN,6.518793,2.942036e+00,NaN,13.525332,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2.000000,0.000000,NaN,NaN,-90.000000,NaN,0.000000,-1.164944e+01,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,18492.500000,0.000000,NaN,NaN,0.000000,NaN,33.078674,-8.523152e+00,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,37013.500000,0.000000,NaN,NaN,371.000000,NaN,34.906774,-5.018231e+00,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,55625.250000,20.000000,NaN,NaN,1321.000000,NaN,37.179061,-3.325870e+00,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,74247.000000,350000.000000,NaN,NaN,2628.000000,NaN,40.345193,-2.000000e-08,NaN,1776.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
X_train_numeric = X_train.select_dtypes('number')
X_val_numeric = X_val.select_dtypes('number')

In [20]:
X_train_numeric.head()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
27724,1790,0.0,13,39.218499,-7.441986e+00,0,6,4,240,0
17889,38695,300.0,1320,37.664901,-3.696613e+00,0,3,2,24,2007
56087,25682,0.0,1796,34.829436,-8.989202e+00,0,11,4,250,1976
256,33500,0.0,0,0.000000,-2.000000e-08,0,19,6,0,0
6917,1169,200.0,324,37.869601,-6.889944e+00,0,5,2,350,1996

In [26]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', multi_class='auto', max_iter=10000)
model.fit(X_train_numeric, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=10000, multi_class='auto',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [29]:
from sklearn.metrics import accuracy_score
y_pred = model.predict(X_val_numeric)
accuracy_score(y_val, y_pred)

0.5535353535353535

In [30]:
def fit_predict_score(X, y, X_val, y_val):
    model = LogisticRegression(solver='lbfgs', multi_class='auto', max_iter=10000)
    model.fit(X, y)
    y_pred = model.predict(X_val)
    return accuracy_score(y_val, y_pred)